name: up
on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"   # প্রতি ১৫ মিনিটে রান

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ZIP_PASS: ${{ secrets.ZIP_PASS }}

    steps:
      - name: Checkout main repo
        uses: actions/checkout@v3

      - name: Unzip to temp, run python script and cleanup
        run: |
          mkdir temp_folder
          unzip -P "$ZIP_PASS" file.zip -d temp_folder
          trap 'rm -rf temp_folder' EXIT
          python temp_folder/file.py

      - name: Checkout target repo for playlist update
        uses: actions/checkout@v3
        with:
          repository: ${{ secrets.API_U1 }}
          token: ${{ secrets.API_U2 }}
          ref: main

      - name: Download new playlist file
        run: |
          LAST_UPDATE=$(TZ="Asia/Dhaka" date +"%Y-%m-%d %I:%M:%S %p")
          {
            echo "# ${{ secrets.CREDIT_LINE1 }}"
            echo "# ${{ secrets.CREDIT_LINE2 }}"
            echo "# ${{ secrets.CREDIT_LINE5 }}"
            echo "# ${{ secrets.CREDIT_LINE3 }}"
            echo "# ${{ secrets.CREDIT_LINE4 }}"
            echo "# Last update: $LAST_UPDATE (Bangladesh Time)"
            echo
            curl -L "${{ secrets.API_U3 }}"
          } > playlist.m3u

      - name: Commit and push if playlist changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          if git diff --quiet playlist.m3u; then
            echo "✅ No changes detected"
          else
            git add playlist.m3u
            git commit -m "Update playlist.m3u automatically"
            git push origin main
          fi
